[submodule "third_party/FreeRTOS"]
	path = third_party/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS.git
	branch = main
[submodule "third_party/wrappers/FreeRTOS-Cpp"]
	path = third_party/wrappers/FreeRTOS-Cpp
	url = https://github.com/jonenz/FreeRTOS-Cpp.git
	branch = develop
[submodule "third_party/wrappers/FreeRTOScpp"]
	path = third_party/wrappers/FreeRTOScpp
	url = git@github.com:mdfabbro/FreeRTOScpp.git
	branch = master
